.dialog {
  scrollbar-color: color-mix(in oklch, currentColor 35%, transparent)
    transparent;
  &::backdrop {
    animation: modal-pop 0.2s ease-out;
    transition-property: transform, opacity, visibility;
  }
}

@keyframes modal-pop {
  0% {
    opacity: 0;
  }
}
