version: 2

multi-ecosystem-groups:
  infrastructure:
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore"

updates:
  - package-ecosystem: "bun"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build"
      include: "scope"
    groups:
      dependencies:
        patterns:
          - "*"

  - package-ecosystem: "devcontainers"
    directory: "/"
    multi-ecosystem-group: "infrastructure"

  - package-ecosystem: "docker"
    directory: "/@caravan-kidstec/web"
    multi-ecosystem-group: "infrastructure"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "ci"
    groups:
      actions:
        patterns:
          - "*"