.prefectureBox {
  height: 12%;
  width: 7%;
  text-shadow: #fff 2px 0px, #fff -2px 0px, #fff 0px -2px, #fff 0px 2px, #fff
    2px 2px, #fff -2px 2px, #fff 2px -2px, #fff -2px -2px, #fff 1px 2px, #fff
    -1px 2px, #fff 1px -2px, #fff -1px -2px, #fff 2px 1px, #fff -2px 1px, #fff
    2px -1px, #fff -2px -1px;
  @media (max-width: 640px) {
    text-shadow: #fff 1px 0px, #fff -1px 0px, #fff 0px -1px, #fff 1px -1px, #fff
      -1px -1px, #fff 0px 1px, #fff 1px 1px, #fff -1px 1px;
  }
}

.hokkaido {
  top: 0;
  left: 81%;
  height: 20%;
  width: 21%;
  &::before,
  &::after {
    content: "";
    background-color: inherit;
    width: 10%;
    height: 40%;
    right: 100%;
    bottom: 0;
    position: absolute;
  }
}

.aomori {
  top: 21%;
  left: 79%;
  height: 8%;
  width: 19%;
}
.akita {
  top: 29%;
  left: 79%;
  height: 8%;
  width: 10.5%;
}
.iwate {
  top: 29%;
  left: 89.5%;
  height: 8%;
  width: 10.5%;
}
.yamagata {
  top: 37%;
  left: 79%;
  height: 8%;
  width: 10.5%;
}
.miyagi {
  top: 37%;
  left: 89.5%;
  height: 8%;
  width: 10.5%;
}
.fukushima {
  top: 45%;
  left: 93%;
  height: 18%;
}

.gunma {
  top: 57%;
  left: 79%;
}
.tochigi {
  top: 57%;
  left: 86%;
}
.ibaraki {
  top: 63%;
  left: 93%;
  height: 18%;
}
.saitama {
  top: 69%;
  left: 86%;
}
.chiba {
  top: 81%;
  left: 93%;
  height: 17%;
}
.tokyo {
  top: 81%;
  left: 86%;
}
.kanagawa {
  top: 81%;
  left: 79%;
}

.nigata {
  top: 45%;
  left: 79%;
  width: 14%;
}
.toyama {
  top: 45%;
  left: 72%;
}
.ishikawa {
  top: 45%;
  left: 65%;
  height: 17%;
}
.fukui {
  top: 50%;
  left: 58%;
}
.nagano {
  top: 57%;
  left: 72%;
  height: 24%;
}
.gifu {
  top: 62%;
  left: 65%;
  height: 19%;
}
.yamanashi {
  top: 69%;
  left: 79%;
}
.aichi {
  top: 81%;
  left: 65%;
}
.shizuoka {
  top: 81%;
  left: 72%;
}

.kyoto {
  top: 56%;
  left: 51%;
  height: 18%;
}
.shiga {
  top: 62%;
  left: 58%;
}
.osaka {
  top: 74%;
  left: 51%;
}
.nara {
  top: 74%;
  left: 58%;
}
.mie {
  top: 86%;
  left: 58%;
}
.wakayama {
  top: 86%;
  left: 51%;
}
.hyogo {
  top: 53%;
  left: 44%;
  height: 24%;
}

.tottori {
  top: 53%;
  left: 37%;
}
.okayama {
  top: 65%;
  left: 37%;
}
.shimane {
  top: 53%;
  left: 30%;
}
.hiroshima {
  top: 65%;
  left: 30%;
}
.yamaguchi {
  top: 59%;
  left: 23%;
}

.kagawa {
  top: 81.5%;
  left: 36.5%;
  height: 8%;
  width: 10.5%;
  @media (max-width: 640px) {
    top: 80%;
  }
}
.ehime {
  top: 81.5%;
  left: 26%;
  height: 8%;
  width: 10.5%;
  @media (max-width: 640px) {
    top: 80%;
  }
}
.tokushima {
  top: 89.5%;
  left: 36.5%;
  height: 8%;
  width: 10.5%;
  @media (max-width: 640px) {
    top: 88%;
  }
}
.kochi {
  top: 89.5%;
  left: 26%;
  height: 8%;
  width: 10.5%;
  @media (max-width: 640px) {
    top: 88%;
  }
}

.fukuoka {
  top: 55%;
  left: 15%;
}
.saga {
  top: 55%;
  left: 8%;
}
.nagasaki {
  top: 55%;
  left: 1%;
  height: 16%;
}
.oita {
  top: 67%;
  left: 15%;
}
.kumamoto {
  top: 67%;
  left: 8%;
}
.miyazaki {
  top: 79%;
  left: 15%;
}
.kagoshima {
  top: 79%;
  left: 8%;
}

.okinawa {
  top: 88%;
  left: 0;
}
