@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* disable hold down in order to prevent downloading images   */
img {
  pointer-events: none;
}

.arrow-down {
  animation: arrow-down 1.5s infinite;
}

.arrow-right {
  animation: arrow-right 1.5s infinite;
}

.arrow-back-right {
  animation: arrow-back-right 1.5s infinite;
}

.arrow-top-right {
  animation: arrow-top-right 1.5s infinite;
}

.arrow-up {
  animation: arrow-up 1.5s infinite;
}

.banner {
  animation: banner 10s linear infinite;
}

.blue-shine {
  background: linear-gradient(to right, #38bdf8 50%, #e0f2fe 60%, #38bdf8 70%);
  background-size: 600% 100%;
  animation: shine 20s infinite linear;
}

.box-orange-shadow {
  background: linear-gradient(#fff, #fff 50%, #fb923c 50%, #fb923c);
  background-size: 100% 200%;
  border-color: #fb923c;
  box-shadow: #fff 4px 4px 0 0, #fb923c 4px 4px 0 2px;
  transition: .5s;
  &:hover {
    background-position: 100% 100%;
    box-shadow: #fff 2px 2px 0 0, #fb923c 2px 2px 0 2px;
    transform: translate(2px, 2px);
  }
}

.box-rose-shadow {
  background: linear-gradient(#fff, #fff 50%, #fb7185 50%, #fb7185);
  background-size: 100% 200%;
  border-color: #fb7185;
  box-shadow: #fff 4px 4px 0 0, #fb7185 4px 4px 0 2px;
  transition: .5s;
  &:hover {
    background-position: 100% 100%;
    box-shadow: #fff 2px 2px 0 0, #fb7185 2px 2px 0 2px;
    transform: translate(2px, 2px);
  }
}

.box-sky-shadow {
  background: linear-gradient(#fff, #fff 50%, #38bdf8 50%, #38bdf8);
  background-size: 100% 200%;
  border-color: #38bdf8;
  box-shadow: #fff 4px 4px 0 0, #38bdf8 4px 4px 0 2px;
  transition: .5s;
  &:hover {
    background-position: 100% 100%;
    box-shadow: #fff 2px 2px 0 0, #38bdf8 2px 2px 0 2px;
    transform: translate(2px, 2px);
  }
}

.box-teal-shadow {
  background: linear-gradient(#fff, #fff 50%, #2dd4bf 50%, #2dd4bf);
  background-size: 100% 200%;
  border-color: #2dd4bf;
  box-shadow: #fff 4px 4px 0 0, #2dd4bf 4px 4px 0 2px;
  transition: .5s;
  &:hover {
    background-position: 100% 100%;
    box-shadow: #fff 2px 2px 0 0, #2dd4bf 2px 2px 0 2px;
    transform: translate(2px, 2px);
  }
}

.fade-out-down {
  animation: fade-out-down 1.5s forwards;
}

.fade-in-up {
  animation: fade-in-up 2s ease-in-out forwards;
}

.fade-in-up-timeline {
  animation: fade-in-up-timeline ease-in-out forwards;
  animation-timeline: view();
  animation-range: contain 0% contain 100%;
}

.flip-horizontal {
  transform: scale(-1, 1);
}

.green-shine {
  background: linear-gradient(to right, #00c300 50%, #abf1b5 60%, #00c300 70%);
  background-size: 600% 100%;
  animation: shine 20s infinite linear;
}

.rotate-z {
  animation: rotate-z 2s infinite;
}

.scale-up-down {
  animation: scale-up-down 1s;
}

.scroll-right {
  position: absolute;
  opacity: 0;
  right: 50%;
  top: 0%;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: scroll-right 3s ease-out infinite;
  &:first-child {
    animation-delay: 1s;
  }
  &:nth-child(2) {
    animation-delay: 2s;
  }
}

.stretch {
  animation: stretch 1s ease-out forwards;
}

.tilt-shaking:hover {
  animation: tilt-shaking 0.25s linear infinite;
}

@keyframes arrow-down {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatey(8px);
  }
}

@keyframes arrow-right {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatex(8px);
  }
}

@keyframes arrow-back-right {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatex(-8px);
  }
}

@keyframes arrow-top-right {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translate(8px, -8px);
  }
}

@keyframes arrow-up {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatey(-8px);
  }
}

@keyframes banner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
    transform: translatey(0);
  }
  100% {
    opacity: 0;
    transform: translatey(20px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translatey(20px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes fade-in-up-timeline {
  0% {
    opacity: 0;
    transform: translatey(40px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes rotate-z {
  0% {
    transform: rotatez(0deg);
  }
  100% {
    transform: rotatez(-360deg);
  }
}

@keyframes scale-up-down {
  0%,
  100% {
    transform: scale(1);
  }
  30%,
  70% {
    transform: scale(1.1);
  }
}

@keyframes scroll-right {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(50px);
  }
  100% {
    opacity: 0;
    transform: translateX(65px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes shine {
  0% {
    background-position-x: 400%;
  }
  50% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -400%;
  }
}

@keyframes stretch {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes tilt-shaking {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}
