@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.arrow-down {
  animation: arrow-down 1.5s infinite;
}

.arrow-right {
  animation: arrow-right 1.5s infinite;
}

.arrow-back-right {
  animation: arrow-back-right 1.5s infinite;
}

.arrow-top-right {
  animation: arrow-top-right 1.5s infinite;
}

.arrow-up {
  animation: arrow-up 1.5s infinite;
}

.banner {
  animation: banner 10s linear infinite;
}

.blue-shine {
  background: linear-gradient(to right, #38bdf8 50%, #e0f2fe 60%, #38bdf8 70%);
  background-size: 600% 100%;
  animation: shine 20s infinite linear;
}

.fade-out-down {
  animation: fade-out-down 1.5s forwards;
}

.fade-in-up {
  animation: fade-in-up 1.5s;
}

.green-shine {
  background: linear-gradient(to right, #00c300 50%, #abf1b5 60%, #00c300 70%);
  background-size: 600% 100%;
  animation: shine 20s infinite linear;
}

.rotate-y {
  animation: rotate-y 1.5s;
}

.rotate-z {
  animation: rotate-z 2s infinite;
}

.rotate-z-45 {
  animation: rotate-z-45 1s;
  transform-origin: right;
}

.scroll-right {
  position: absolute;
  opacity: 0;
  right: 50%;
  top: 0%;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: scroll-right 3s ease-out infinite;
}

.scroll-right:first-child {
  animation: scroll-right 3s ease-out 1s infinite;
}

.scroll-right:nth-child(2) {
  animation: scroll-right 3s ease-out 2s infinite;
}

.slide-up {
  animation: slide-up 1s forwards;
}

.stretch {
  animation: stretch 1s ease-out forwards;
}

.tilt-shaking:hover {
  animation: tilt-shaking 0.25s linear infinite;
}

.typing {
  animation: typing 8s steps(40) infinite, blink .7s infinite;
  border-right: .15em solid rgb(251 146 60);
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes arrow-down {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatey(8px);
  }
}

@keyframes arrow-right {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatex(8px);
  }
}

@keyframes arrow-back-right {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatex(-8px);
  }
}

@keyframes arrow-top-right {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translate(8px, -8px);
  }
}

@keyframes arrow-up {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatey(-8px);
  }
}

@keyframes banner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: rgb(251 146 60);
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
    transform: translatey(0);
  }
  100% {
    opacity: 0;
    transform: translatey(20px);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translatey(20px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes rotate-y {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes rotate-z {
  0% {
    transform: rotatez(0deg);
  }
  100% {
    transform: rotatez(-360deg);
  }
}

@keyframes rotate-z-45 {
  0%,
  20% {
    transform: rotatez(45deg);
  }
  100% {
    transform: rotatez(0deg);
  }
}

@keyframes scroll-right {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(50px);
  }
  100% {
    opacity: 0;
    transform: translateX(65px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes shine {
  0% {
    background-position-x: 400%;
  }
  50% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -400%;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translatey(20px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes stretch {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes tilt-shaking {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@keyframes typing {
  0%,
  100% {
    width: 0;
  }
  30%,
  70% {
    width: 100%;
  }
}
