@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.arrow-right {
  animation: arrow-right 1.5s infinite;
}

.fade-out-down {
  animation: fade-out-down 1.5s forwards;
}

.fade-in-up {
  animation: fade-in-up 1.5s;
}

.schedule-scroll-left {
  animation: schedule-scroll-left 20s linear infinite;
}

.schedule-scroll-left:hover {
  animation-play-state: paused;
}

.scroll-left {
  animation: scroll-left 40s linear infinite;
}

.scroll-left:hover {
  animation-play-state: paused;
}

.scroll-right {
  animation: scroll-right 80s linear infinite;
}

.scroll-right:hover {
  animation-play-state: paused;
}

.scroll-up {
  animation: scroll-up 1.5s infinite;
}

.slide-up {
  animation: slide-up 1s forwards;
}

.stretch {
  animation: stretch 1s ease-out forwards;
}

.tilt-shaking:hover {
  animation: tilt-shaking 0.25s linear infinite;
}

.typing {
  animation: typing 6s steps(20) infinite, blink .7s infinite;
  border-right: .15em solid rgb(251 146 60);
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes arrow-right {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatex(8px);
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: rgb(251 146 60);
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
    transform: translatey(0);
  }
  100% {
    opacity: 0;
    transform: translatey(20px);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translatey(20px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes schedule-scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-19rem * 3));
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-19rem * 6));
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(calc(-19rem * 10));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scroll-up {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatey(-8px);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translatey(20px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes stretch {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes tilt-shaking {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@keyframes typing {
  0%,
  100% {
    width: 0;
  }
  20%,
  80% {
    width: 100%;
  }
}
