@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.arrow-down {
  animation: arrow-down 1.5s infinite;
}

.arrow-right {
  animation: arrow-right 1.5s infinite;
}

.arrow-up {
  animation: arrow-up 1.5s infinite;
}

.banner {
  animation: banner 10s linear infinite;
}

.fade-out-down {
  animation: fade-out-down 1.5s forwards;
}

.fade-in-up {
  animation: fade-in-up 1.5s;
}

.green-shine {
  background: linear-gradient(to right, #00c300 50%, #abf1b5 60%, #00c300 70%);
  background-size: 600% 100%;
  animation: shine 20s infinite linear;
}

.schedule-scroll-left .carousel-item {
  animation: schedule-scroll-left 20s linear infinite;
}

.schedule-scroll-left:hover .carousel-item {
  animation-play-state: paused;
}

.review-scroll-left .carousel-item {
  animation: review-scroll-left 80s linear infinite;
}

.review-scroll-left:hover .carousel-item {
  animation-play-state: paused;
}

.rotate-y {
  animation: rotate-y 1.5s;
}

.slide-up {
  animation: slide-up 1s forwards;
}

.stretch {
  animation: stretch 1s ease-out forwards;
}

.tilt-shaking:hover {
  animation: tilt-shaking 0.25s linear infinite;
}

.typing {
  animation: typing 8s steps(40) infinite, blink .7s infinite;
  border-right: .15em solid rgb(251 146 60);
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes arrow-down {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatey(8px);
  }
}

@keyframes arrow-right {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatex(8px);
  }
}

@keyframes arrow-up {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatey(-8px);
  }
}

@keyframes banner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: rgb(251 146 60);
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
    transform: translatey(0);
  }
  100% {
    opacity: 0;
    transform: translatey(20px);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translatey(20px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes shine {
  0% {
    background-position-x: 400%;
  }
  50% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -400%;
  }
}

@keyframes schedule-scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-16rem * 3));
  }
}

@keyframes review-scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-19rem * 10));
  }
}

@keyframes rotate-y {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translatey(20px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes stretch {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes tilt-shaking {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@keyframes typing {
  0%,
  100% {
    width: 0;
  }
  30%,
  70% {
    width: 100%;
  }
}
