.scaleUp {
  animation: scale-up 1.5s infinite;
}

.blueShine {
  background: linear-gradient(to right, #38bdf8 50%, #e0f2fe 60%, #38bdf8 70%);
  background-size: 600% 100%;
  animation: shine 20s infinite linear;
}

.details summary {
  transition: background-color 0.2s ease-out;
  &::after {
    position: absolute;
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    transition: all 0.2s ease-out;
    top: 1.9rem;
    inset-inline-end: 1.4rem;
    content: "";
    transform: translateY(-100%) rotate(45deg);
    transform-origin: 75% 75%;
    box-shadow: 2px 2px;
    pointer-events: none;
  }
}
.details[open] summary::after {
  transform: translateY(-50%) rotate(225deg);
}

@keyframes scale-up {
  0%,
  40% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.6);
  }
}

@keyframes shine {
  0% {
    background-position-x: 400%;
  }
  50% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -400%;
  }
}
