.arrowBackRight {
  animation: arrow-back-right 1.5s infinite;
}

.boxOrangeShadow {
  background: linear-gradient(#fff, #fff 50%, #fb923c 50%, #fb923c);
  background-size: 100% 200%;
  border-color: #fb923c;
  box-shadow: #fff 4px 4px 0 0, #fb923c 4px 4px 0 2px;
  transition: .5s;
  &:hover {
    background-position: 100% 100%;
    box-shadow: #fff 2px 2px 0 0, #fb923c 2px 2px 0 2px;
    transform: translate(2px, 2px);
  }
}

.boxSkyShadow {
  background: linear-gradient(#fff, #fff 50%, #38bdf8 50%, #38bdf8);
  background-size: 100% 200%;
  border-color: #38bdf8;
  box-shadow: #fff 4px 4px 0 0, #38bdf8 4px 4px 0 2px;
  transition: .5s;
  &:hover {
    background-position: 100% 100%;
    box-shadow: #fff 2px 2px 0 0, #38bdf8 2px 2px 0 2px;
    transform: translate(2px, 2px);
  }
}

@keyframes arrow-back-right {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatex(-8px);
  }
}
